<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h2>Todo list!</h2>

<form th:action="@{/}" method="get" style="text-align: right;">
    <div class="task-per-page">
        <label>Tasks per page:</label>
        <select name="limit" onchange="this.form.submit()">
            <option th:each="limit : ${limits}"
                    th:value="${limit}"
                    th:text="${limit}"
                    th:selected="${limit == currentLimit}"></option>
        </select>
    </div>
</form>

<div class="parent-div">
    <!--  new task form-->
    <form th:action="@{/add}" th:object="${task}" method="post">
        <input type="hidden" th:value="${currentPage}" name="page"/>
        <input type="hidden" th:value="${currentLimit}" name="limit"/>
        <input type="submit" value="Add new task" class="add-task-button"/>
        <input type="text" th:field="*{description}" required maxlength="100" class="add-input"/>
    </form>

    <!-- paging -->
    <div th:if="${tasksPage.totalPages > 1}" class="pagination">
        <div th:each="pageNumber : ${#numbers.sequence(0, tasksPage.totalPages - 1)}" style="text-align: right;">
            <a th:href="@{'/?page=' + ${pageNumber} + '&limit=' + ${currentLimit}}"
               th:text="${pageNumber + 1}"
               th:class="${pageNumber == currentPage ? 'active' : ''}"></a>
        </div>
    </div>
</div>

<table>
    <tr>
        <th class="col-id">#</th>
        <th class="col-desc">Description</th>
        <th class="col-status">Status</th>
        <th class="col-actions">Actions</th>
        <th class="col-delete">Delete</th>
    </tr>

    <tr th:each="task, stat : ${tasksPage.content}">
        <td class="col-id" th:text="${tasksPage.number * tasksPage.size + stat.index + 1}"></td>
        <td class="col-desc">
            <span th:id="'description-' + ${task.id}" th:text="${task.description}"
                  th:class="${task.status.name() == 'DONE'} ? 'done-desc' : (${task.status.name() == 'PAUSED'} ? 'paused-desc' : '')"></span>

            <input th:id="'input-description-' + ${task.id}" type="text" th:value="${task.description}"
                   name="description" class="hidden" th:form="'edit-form-' + ${task.id}">
        </td>
        <td class="col-status">
            <span th:id="'status-' + ${task.id}" th:text="${task.status}" class="status-text"></span>
            <select th:id="'select-status-' + ${task.id}" name="status" class="hidden"
                    th:form="'edit-form-' + ${task.id}">
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status}"
                        th:selected="${task.status.name().equals(status.toString())}"></option>
            </select>
        </td>
        <td class="col-actions">
            <button class="edit-button" th:id="'edit-' + ${task.id}" th:attr="data-id=${task.id}"
                    onclick="editTask(this.getAttribute('data-id'));" type="button">Edit
            </button>
            <button class="save-button hidden" th:id="'save-' + ${task.id}" th:attr="data-id=${task.id}" type="submit"
                    th:form="'edit-form-' + ${task.id}">Save
            </button>

            <input type="hidden" name="id" th:value="${task.id}" th:form="'edit-form-' + ${task.id}">
        </td>
        <td class="col-delete">
            <button class="delete-button" th:id="'delete-' + ${task.id}" type="submit" th:form="'delete-form-' + ${task.id}">Delete</button>
        </td>
    </tr>
</table>


<div th:if="${tasksPage.totalPages > 1}" class="pagination">
    <div th:each="pageNumber : ${#numbers.sequence(0, tasksPage.totalPages - 1)}">
        <a th:href="@{'/?page=' + ${pageNumber} + '&limit=' + ${currentLimit}}"
           th:text="${pageNumber + 1}"
           th:class="${pageNumber == currentPage ? 'active' : ''}"></a>
    </div>
</div>

<div th:each="task : ${tasksPage.content}">
    <!-- hidden form for edit task -->
    <form th:action="@{/edit/{id}(id=${task.id})}" method="post" th:id="'edit-form-' + ${task.id}">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" th:value="${currentPage}" name="page"/>
        <input type="hidden" th:value="${currentLimit}" name="limit"/>
    </form>
    <!-- hidden form for delete task -->
    <form th:action="@{/delete/{id}(id=${task.id})}" method="post" th:id="'delete-form-' + ${task.id}">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="hidden" name="page" th:value="${currentPage}"/>
        <input type="hidden" name="limit" th:value="${currentLimit}"/>
    </form>
</div>

<script th:src="@{/index.js}"></script>
</body>
</html>